// Base Class Definition
// -------------------------

.@{dripicons-css-prefix} {
	font-family: 'dripicons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none !important;
	speak: none;
	display: inline-block;
	text-decoration: none;
	width: 1em;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
}