// Dripicons uses the Unicode Private Use Area (PUA) to ensure screen
// readers do not read off random characters that represent icons

.@{dripicons-css-prefix}-align-center:before { content: @dripicons-var-align-center; }
.@{dripicons-css-prefix}-align-justify:before { content: @dripicons-var-align-justify; }
.@{dripicons-css-prefix}-align-left:before { content: @dripicons-var-align-left; }
.@{dripicons-css-prefix}-align-right:before { content: @dripicons-var-align-right; }
.@{dripicons-css-prefix}-arrow-down:before { content: @dripicons-var-arrow-down; }
.@{dripicons-css-prefix}-arrow-left:before { content: @dripicons-var-arrow-left; }
.@{dripicons-css-prefix}-arrow-thin-down:before { content: @dripicons-var-arrow-thin-down; }
.@{dripicons-css-prefix}-arrow-right:before { content: @dripicons-var-arrow-right; }
.@{dripicons-css-prefix}-arrow-thin-left:before { content: @dripicons-var-arrow-thin-left; }
.@{dripicons-css-prefix}-arrow-thin-up:before { content: @dripicons-var-arrow-thin-up; }
.@{dripicons-css-prefix}-arrow-up:before { content: @dripicons-var-arrow-up; }
.@{dripicons-css-prefix}-attachment:before { content: @dripicons-var-attachment; }
.@{dripicons-css-prefix}-arrow-thin-right:before { content: @dripicons-var-arrow-thin-right; }
.@{dripicons-css-prefix}-code:before { content: @dripicons-var-code; }
.@{dripicons-css-prefix}-cloud:before { content: @dripicons-var-cloud; }
.@{dripicons-css-prefix}-chevron-right:before { content: @dripicons-var-chevron-right; }
.@{dripicons-css-prefix}-chevron-up:before { content: @dripicons-var-chevron-up; }
.@{dripicons-css-prefix}-chevron-down:before { content: @dripicons-var-chevron-down; }
.@{dripicons-css-prefix}-chevron-left:before { content: @dripicons-var-chevron-left; }
.@{dripicons-css-prefix}-camera:before { content: @dripicons-var-camera; }
.@{dripicons-css-prefix}-checkmark:before { content: @dripicons-var-checkmark; }
.@{dripicons-css-prefix}-calendar:before { content: @dripicons-var-calendar; }
.@{dripicons-css-prefix}-clockwise:before { content: @dripicons-var-clockwise; }
.@{dripicons-css-prefix}-conversation:before { content: @dripicons-var-conversation; }
.@{dripicons-css-prefix}-direction:before { content: @dripicons-var-direction; }
.@{dripicons-css-prefix}-cross:before { content: @dripicons-var-cross; }
.@{dripicons-css-prefix}-graph-line:before { content: @dripicons-var-graph-line; }
.@{dripicons-css-prefix}-gear:before { content: @dripicons-var-gear; }
.@{dripicons-css-prefix}-graph-bar:before { content: @dripicons-var-graph-bar; }
.@{dripicons-css-prefix}-export:before { content: @dripicons-var-export; }
.@{dripicons-css-prefix}-feed:before { content: @dripicons-var-feed; }
.@{dripicons-css-prefix}-folder:before { content: @dripicons-var-folder; }
.@{dripicons-css-prefix}-forward:before { content: @dripicons-var-forward; }
.@{dripicons-css-prefix}-folder-open:before { content: @dripicons-var-folder-open; }
.@{dripicons-css-prefix}-download:before { content: @dripicons-var-download; }
.@{dripicons-css-prefix}-document-new:before { content: @dripicons-var-document-new; }
.@{dripicons-css-prefix}-document-edit:before { content: @dripicons-var-document-edit; }
.@{dripicons-css-prefix}-document:before { content: @dripicons-var-document; }
.@{dripicons-css-prefix}-gaming:before { content: @dripicons-var-gaming; }
.@{dripicons-css-prefix}-graph-pie:before { content: @dripicons-var-graph-pie; }
.@{dripicons-css-prefix}-heart:before { content: @dripicons-var-heart; }
.@{dripicons-css-prefix}-headset:before { content: @dripicons-var-headset; }
.@{dripicons-css-prefix}-help:before { content: @dripicons-var-help; }
.@{dripicons-css-prefix}-information:before { content: @dripicons-var-information; }
.@{dripicons-css-prefix}-loading:before { content: @dripicons-var-loading; }
.@{dripicons-css-prefix}-lock:before { content: @dripicons-var-lock; }
.@{dripicons-css-prefix}-location:before { content: @dripicons-var-location; }
.@{dripicons-css-prefix}-lock-open:before { content: @dripicons-var-lock-open; }
.@{dripicons-css-prefix}-mail:before { content: @dripicons-var-mail; }
.@{dripicons-css-prefix}-map:before { content: @dripicons-var-map; }
.@{dripicons-css-prefix}-media-loop:before { content: @dripicons-var-media-loop; }
.@{dripicons-css-prefix}-mobile-portrait:before { content: @dripicons-var-mobile-portrait; }
.@{dripicons-css-prefix}-mobile-landscape:before { content: @dripicons-var-mobile-landscape; }
.@{dripicons-css-prefix}-microphone:before { content: @dripicons-var-microphone; }
.@{dripicons-css-prefix}-minus:before { content: @dripicons-var-minus; }
.@{dripicons-css-prefix}-message:before { content: @dripicons-var-message; }
.@{dripicons-css-prefix}-menu:before { content: @dripicons-var-menu; }
.@{dripicons-css-prefix}-media-stop:before { content: @dripicons-var-media-stop; }
.@{dripicons-css-prefix}-media-shuffle:before { content: @dripicons-var-media-shuffle; }
.@{dripicons-css-prefix}-media-previous:before { content: @dripicons-var-media-previous; }
.@{dripicons-css-prefix}-media-play:before { content: @dripicons-var-media-play; }
.@{dripicons-css-prefix}-media-next:before { content: @dripicons-var-media-next; }
.@{dripicons-css-prefix}-media-pause:before { content: @dripicons-var-media-pause; }
.@{dripicons-css-prefix}-monitor:before { content: @dripicons-var-monitor; }
.@{dripicons-css-prefix}-move:before { content: @dripicons-var-move; }
.@{dripicons-css-prefix}-plus:before { content: @dripicons-var-plus; }
.@{dripicons-css-prefix}-phone:before { content: @dripicons-var-phone; }
.@{dripicons-css-prefix}-preview:before { content: @dripicons-var-preview; }
.@{dripicons-css-prefix}-print:before { content: @dripicons-var-print; }
.@{dripicons-css-prefix}-media-record:before { content: @dripicons-var-media-record; }
.@{dripicons-css-prefix}-music:before { content: @dripicons-var-music; }
.@{dripicons-css-prefix}-home:before { content: @dripicons-var-home; }
.@{dripicons-css-prefix}-question:before { content: @dripicons-var-question; }
.@{dripicons-css-prefix}-reply:before { content: @dripicons-var-reply; }
.@{dripicons-css-prefix}-reply-all:before { content: @dripicons-var-reply-all; }
.@{dripicons-css-prefix}-return:before { content: @dripicons-var-return; }
.@{dripicons-css-prefix}-retweet:before { content: @dripicons-var-retweet; }
.@{dripicons-css-prefix}-search:before { content: @dripicons-var-search; }
.@{dripicons-css-prefix}-view-thumb:before { content: @dripicons-var-view-thumb; }
.@{dripicons-css-prefix}-view-list-large:before { content: @dripicons-var-view-list-large; }
.@{dripicons-css-prefix}-view-list:before { content: @dripicons-var-view-list; }
.@{dripicons-css-prefix}-upload:before { content: @dripicons-var-upload; }
.@{dripicons-css-prefix}-user-group:before { content: @dripicons-var-user-group; }
.@{dripicons-css-prefix}-trash:before { content: @dripicons-var-trash; }
.@{dripicons-css-prefix}-user:before { content: @dripicons-var-user; }
.@{dripicons-css-prefix}-thumbs-up:before { content: @dripicons-var-thumbs-up; }
.@{dripicons-css-prefix}-thumbs-down:before { content: @dripicons-var-thumbs-down; }
.@{dripicons-css-prefix}-tablet-portrait:before { content: @dripicons-var-tablet-portrait; }
.@{dripicons-css-prefix}-tablet-landscape:before { content: @dripicons-var-tablet-landscape; }
.@{dripicons-css-prefix}-tag:before { content: @dripicons-var-tag; }
.@{dripicons-css-prefix}-star:before { content: @dripicons-var-star; }
.@{dripicons-css-prefix}-volume-full:before { content: @dripicons-var-volume-full; }
.@{dripicons-css-prefix}-volume-off:before { content: @dripicons-var-volume-off; }
.@{dripicons-css-prefix}-warning:before { content: @dripicons-var-warning; }
.@{dripicons-css-prefix}-window:before { content: @dripicons-var-window; }